@model ICA.Models.Pelicula

@{
    ViewData["Title"] = "Delete";
}

<h1 class="text-center">Eliminar</h1>

<h3>¿Estás seguro de que quieres eliminar esto?</h3>
<h3 class="text-center">Pelicula</h3>
@if (TempData["Error"] != null)
{
    <div class="alert alert-danger">
        @TempData["Error"]
    </div>
}

@if (TempData["Mensaje"] != null)
{
    <div class="alert alert-success">
        @TempData["Mensaje"]
    </div>
}

<hr />

<div class="container mt-4">
    <div class="container mt-4">
        <div class="row justify-content-center">
            <div class="col-md-8 mb-8">
                <div class="card">
                    
                    @{
                        var videoId = Html.DisplayFor(model => model.VideoId);
                        var videoUrl = $"https://www.youtube.com/watch?v={videoId}";
                    }
                    <div class="grid-item">
                        <div class="video">
                            <iframe src="https://www.youtube.com/embed/@videoId"
                                    frameborder="0"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen
                                    title="Video: @videoId"
                                    class="w-100">
                            </iframe>
                        </div>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title text-center">@Html.DisplayFor(model => model.Titulo)</h5>
                        <p class="card-text"><strong>Descripcion:</strong> @Html.DisplayFor(model => model.Sinopsis)</p>

                        <p class="card-text"><strong>Fecha:</strong> @Html.DisplayFor(model => model.Fecha)</p>
                        <p class="card-text"><strong>Genero:</strong> @Html.DisplayFor(model => model.Genero.Nombre)</p>
                        <p class="card-text"><strong>Etiqueta:</strong> @Html.DisplayFor(model => model.Etiqueta.Nombre)</p>
                        <p class="card-text"><strong>Creador:</strong> @Html.DisplayFor(model => model.Creador)</p>
                        <p class="card-text"><strong>Integrantes:</strong> @Html.DisplayFor(model => model.Integrantes)</p>
                        <p class="card-text"><strong>Materias:</strong> @Html.DisplayFor(model => model.Materia.Nombre)</p>

                    </div>
                    <div class="card-footer text-muted text-center">
                        <div class="form-group text-center">
                            <form asp-action="Delete">
                                <input type="submit" value="Delete" class="btn btn-danger btn-sm" />
                                <a asp-action="Index" class="btn btn-secondary btn-sm">Volver a la lista</a>
                            </form> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
